@font-face {
    font-family: 'Recursive';
    font-weight: 300 800;
    font-display: swap;
    src: url(/recursive-0.0.1.woff2) format('woff2');
}

:root {
    --MONO: 0;
    --CASL: 0;
    --slnt: 0;
    --CRSV: 0.5;
}

*,
*:before,
*:after {
    font-variation-settings: "MONO" var(--MONO), "CASL" var(--CASL), "slnt" var(--slnt), "CRSV" var(--CRSV);
}
