.hljs {
    @apply block p-2;
}

.hljs, .hljs-subst {
    @apply text-white;
}

.hljs-comment {
    @apply text-gray-500;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-name, .hljs-selector-tag {
    @apply font-bold;
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    @apply text-red-500;
}

.hljs-section, .hljs-title {
    @apply font-bold text-red-500;
}

.hljs-link, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    @apply text-red-300;
}

.hljs-literal {
    @apply text-green-300;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code, .hljs-keyword {
    @apply text-green-500;
}

.hljs-meta {
    @apply text-blue-500;
}

.hljs-meta-string {
    @apply text-blue-300;
}

.hljs-emphasis {
    @apply italic;
}

.hljs-strong {
    @apply font-bold;
}
