#note {
    a {
        @apply text-blue-700 underline;
    }

    p {
        @apply my-4;
    }

    blockquote, figure {
        @apply my-4 mx-10;
    }

    hr {
        @apply border;
    }

    h1 {
        @apply text-4xl font-bold my-2;
    }

    h2 {
        @apply text-2xl font-bold my-3;
    }

    h3 {
        @apply text-lg font-bold my-4;
    }

    h4 {
        @apply text-base font-bold my-5;
    }

    h5 {
        @apply text-sm font-bold my-6;
    }

    h6 {
        @apply text-xs font-bold my-10;
    }

    ul,
    menu {
        @apply list-disc my-1 pl-10;
    }

    ol {
        @apply list-decimal my-4 pl-10;
    }

    ul,
    ol {
        ul {
            @apply list-disc;
        }

        ul,
        ol {
            ul {
                list-style-type: square;
            }
        }
    }

    dd {
        @apply pl-10;
    }

    dl {
        @apply my-4;
    }

    ul,
    ol,
    dl {
        ul,
        ol,
        dl {
            @apply m-0;
        }
    }

    b,
    strong {
        @apply font-bold;
    }

    pre {
        @apply my-4 rounded-md bg-gray-800 overflow-x-auto block;
        --MONO: 1;
    }

    code {
        @apply p-2 text-sm bg-gray-800 font-mono rounded-md;
        --MONO: 1;
    }

}

#markdown {
    @apply w-full bg-gray-800 p-5 outline-none font-mono;
    --MONO: 1;
}
