table#notes {
    @apply table-auto w-full border-collapse border-2 border-gray-700;

    thead th {
        @apply px-4 py-2;
    }

    tbody {
        tr:nth-child(even) {
            @apply bg-gray-800;
        }

        td {
            @apply border border-gray-700 py-3 px-4;
        }
    }
}
