nav.pages {
    @apply flex pl-0 list-none rounded my-2 flex justify-center;

    :first-child {
        @apply rounded-l;
    }

    :last-child {
        @apply rounded-r;
    }

    :not(:last-child) {
        @apply border-r-0;
    }

    a {
        @apply relative block py-2 px-3 leading-tight border bg-gray-800 border-gray-700 text-teal-300;

        &:hover {
            @apply bg-gray-700;
        }

        &.active {
            @apply bg-teal-800 border-gray-700 text-white;

            &:hover {
                @apply bg-gray-700;
            }
        }
    }
}
